/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/nbdist/
/.nb-gradle/
mvnw
mvnw.cmd
.mvn/
src/test/
log.log
/logtest/
/test/

/out/

/flink1.10-cc/target/
/hadoop2.7.3-cc/target/
/kafka-cc/target/
/spark1.6.0-cc/target/
/spark2.1.1-cc/target/
/zookeeper-cc/target/

